@import "";

:root {
  --colorTheme: rgb(80, 45, 140);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  --webkit-font-smoophing: antialiased;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
header {
  position: relative;
  width: 100vw;
  height: 300px;
  background:var(--colorTheme);
  display: block;
  user-select: none;
}
header div img{
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  top: 20px;
}
#containerHeader{
  position: relative;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;


}

#contentHeaderText{

  display: flex;
  justify-content: center;
}
#contentHeaderText img {
  width: 40px;
  height: 40px;
  top: 0px;
  margin-left: 4px;
}


#headerText{
  text-align: right;

}

#headerText span {
  color: rgba(255,255,255, 0.6);
}
#imgPerfil {
  width: 120px;
  height: 120px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
#imgPerfil div{
  position: relative;
  width: 90%;
  height:90%;
  background-image: url("../img/fotoMain.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;

}
header h2 {
  color: white;
  padding-left: 30px;
  font-size: 20px;
}

section {
  width: 100vw;
  min-height: 100vh;
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#contentSection {
  z-index: 1;
  background: rgb(240,240,240);
  width: 80vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: -40px;
  padding: 10px;

  border-radius: 5px;
}

footer {
  height: 100px;
  bottom: 0px;
  width: 100vw;
  background: var(--colorTheme);
  color: rgba(255,255,255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
#buttonMediaContainer{
  position: absolute;
  width: 100%;
  display: flex;
  height: 100px;
  bottom: 40px;
  align-items: center;
  justify-content: space-around;
  overflow: hidden !important;

}

#buttonMediaContainer a {
  position: relative;
  background: var(--colorTheme);
  width: 30vw;
  max-width: 250px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden !important;
  transition: 0.3s ease;
  animation: button 1s linear;
}
#buttonMediaContainer a+a {
  background: green;
  color: white;

}
#buttonMediaContainer a:after{
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
  border-radius: 50%;
  transition: 0.3s ease;
}
#buttonMediaContainer a:hover::after{
  width: calc(0.7 * 100vw);
  height: calc(0.7 * 100vw);
}
#buttonMediaContainer a:hover{
  transform: scale(1.1);
}

.subtittle{
  position: relative;
  font-size: 19px;
  font-weight: 600;
  width: auto;
  margin: 10px;
  margin-left: 0px;
}
.subtittle div {
  position: relative;
  height: 2px;
  width: 100%;
  background: #841298;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#subtittle {
  background: var(--colorTheme);
  padding: 6px 3px;
  border-radius: 3px;
  color: rgba(255,255,255, 0.7);
  text-align: center;
  margin-bottom: 40px;
}
dd {
  margin: 5px;
  font-size: 13px;
}
.block {
  position: relative;
  margin: 10px;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.3);
  min-height: 100px;
  padding: 5px;
  background: white;
  border-radius: 3px;
  animation: blocks 1s;

}
.cardsContainer {
  width: 100%;
  overflow-x:scroll;
  overflow-y: hidden;

  display: flex;
  margin: 20px 0px;
  padding:0px 7px;
}
.cards {
  min-width: 100px;
  box-shadow: 0px 0px 3px  rgba(80, 45, 140, 0.5);
  margin: 5px;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  margin: 7px 2px;
  cursor: pointer;

}
.cards:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 6px  rgba(80, 45, 140, 0.8);
  z-index: 2 !important;
}
.img {
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.resumo {
  padding: 3px;
  background: white;
}
.resumo p{
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
.resumo p+p {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

.englob-meta{
  position: relative;
  width: 100%;
}
#skills {
  position: relative;
  overflow: hidden !important;

}

.icons {
  width: 30px;
  border-radius: 0px;
  box-shadow: none;
  top: 0px;

}

#navigationSkills{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background: var(--colorTheme);/*rgb(220,220,220);*/
  padding-top: 3px;

}

#navigationSkills li{
  color: white;
  font-weight: 500;
  background: none;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}
.select{

  color:var(--colorTheme) !important;
  font-weight: 600 !important;
  background: white !important;
  padding: 3px 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#framesContainer {
  position: relative;
  right: 00%;
  display: flex;
  justify-content: center;
  width: calc(100% * 3);
  min-height: 40px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  transition: right 0.2s ease-in-out;

}
.frames{
  position: relative;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  padding-left:5px;
  width: 100%;
  padding-bottom: 10px;

}
.frames li {
  position: relative;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frames li:hover .tooltip{
  display: block;
}
.tooltip {
  display: none;
  position: absolute;
  background: var(--colorTheme);
  font-size: 12px;
  font-weight: 600;
  color: white;
  top: 100%;
  right: 0px;
  padding: 3px;
  z-index: 1;
  box-shadow: 0px 0px 3px  var(--colorTheme);
}
.tooltip::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--colorTheme);
  top: -2.5px;
  left: 5px;
  transform: rotate(45deg);
}
.iconsSkills{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;

}
.barrel {
  position: relative;
  width: 80%;
  height: 6px;
  background: rgb(210,210,210);
  margin-right: 5px;
}

.barrelContent{
  position: relative;
  height: 100%;
  background: var(--colorTheme);
  animation: widthDelay 3s linear;
}
b {
  font-size: 13px;
}
table {
  position: relative;
  width: 100%;
}
table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(220,220,220, 0.6), rgba(220,220,220, 1));
  margin: 3px 0px;
  padding: 2px 8px;
  overflow: hidden;

}
table tr td {
  font-size: 13px;

}
#frame3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#frame3 img {
  width: 15px;
  margin-right: 10px;
}
@media only screen and (max-width: 400px) {
  #contentSection{
    width: 90vw;
  }
  #contentHeaderText{
    top: 20px;
    position: absolute;
    margin-right: 20px;
  }
  #imgPerfil{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 30px;
  }
  #skills {
    overflow: scroll;

  }

}
@media only screen and (min-width: 400px) {
  .cards{
    width: 200px;
  }
}
@media only screen and (min-width: 1000px) {
  .englob-meta{
    display: flex;
    justify-content: space-between;
  }
  #aprensentation, #skills{
    width: auto;
  }
  #skills{
    min-width: 400px;
  }
}
@keyframes blocks {
  from {
    opacity: 0;
    transform: translateX(100px) translateY(50px);
  }
  to {
    opacity: 1;
  }
}
@keyframes button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes widthDelay {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
}
